name: PR

'on':
  issues

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: |
          echo 'hello'
      - name: rsa
        env:
          PR_TITLE: ${{ github.event.issuse.title }}
        run: |
          echo "$PR_TITLE" 
      - name: rsa-2
        run: |
          echo "${{ github.event.issuse.title }}" 
